{% macro player_table(players) -%}
<table>
  <tr>
    <th>Player Name</th>
    <th>Skating Rating</th>
    <th>Shooting Rating</th>
    <th>Checking Rating</th>
  </tr>
  {% for player in players %}
  <tr>
    <td>{{ " ".join([player.first_name, player.last_name]) }}</td>
    <td>{{ player.skating }}</td>
    <td>{{ player.shooting }}</td>
    <td>{{ player.checking }}</td>
  </tr>
  {% endfor %}
</table>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Squad Matchmaker</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <style>
      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      }
      tr:nth-child(even) {
      background-color: #eee;
      }
      tr:nth-child(odd) {
      background-color: #fff;
      }
    </style>

    <div style="text-align:center">
      <a href="{{ url_for('run_matchmaking') }}">Generate Teams</a>
      --
      <a href="{{ url_for('reset_matchmaking') }}">Reset Teams</a>
    </div>

    {# print a table of the free players #}
    <p>Reserve List:</p>
    {{ player_table(players) }}
    <hr>

    {# if any, print teams #}
    {% if teams %}
    <p>Teams:</p>
    {% for team in teams %}
    {{ player_table(team.players) }}
    <br> Team skill averages:
    <br>
    Skating: {{ "{:0.3}".format(team.average_skating) }} <br>
    Shooting: {{ "{:0.3}".format(team.average_shooting) }} <br>
    Checking: {{ "{:0.3}".format(team.average_checking) }} <br>
    <br>
    {% endfor %}
    <hr>
    {% endif %}

    {# button to reset service state #}
    {# button to generate teams #}
  </body>
</html>
